

/* HomePage.css */
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: flex-start; 
  padding-top: 2rem;
  font-family: sans-serif;
  background-color:  #635e5e;
  color: rgb(32, 32, 32);
}


.tweet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.tweet-card {
  width: 1000px;
    height: auto;
    background: rgb(128, 126, 126);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: auto;
    margin-bottom: 2.0rem; 
}

.tweet-header {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.tweet-content {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  color:rgb(83, 81, 81)5;
}

.tweet-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.tweet-comments input {
  width: 75%;
  padding: 0.4rem;
  margin-right: 0.3rem;
  border: 1px solid #161515;
  border-radius: 6px;
}

.tweet-comments button {
  padding: 0.4rem 0.6rem;
  background-color: #e1ecf4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.comment {
  font-size: 0.9rem;
  color: #333;
  margin-top: 0.3rem;
}


.tweet-list {
  display: flex;
  flex-direction: column;
  align-items: center;       
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}
